DogsMule/src/main/mule/dogs_api.xml
<?xml version="1.0" encoding="UTF-8"?>

 

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:file="http://www.mulesoft.org/schema/mule/file"
    xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="27ab5669-a257-4b05-91de-65e5995e0fb2" >
        <http:listener-connection host="localhost" port="8082" />
    </http:listener-config>
    <file:config name="File_Config" doc:name="File Config" doc:id="de1e3d97-0dea-455a-b757-94feb13739d0" />
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="b67a11ad-4b01-463b-aee2-06d01d2ca152" >
		<http:request-connection host="localhost" port="8082" />
	</http:request-config>
	<flow name="Main-Flow" doc:id="38284102-fcc6-4066-a8f8-07e7214413e0" >
        <http:listener doc:name="Listener" doc:id="6d1e2095-7f5e-4638-92de-92a2093df530" config-ref="HTTP_Listener_config" path="/"/>
		<choice doc:name="name?" doc:id="b6dd7aba-8652-4cf6-a677-2555be756276" >
			<when expression="#[message.attributes.queryParams['name'] != null]">
				<set-variable value="#[message.attributes.queryParams['name']]" doc:name="name" doc:id="34105b0f-8ed5-4144-917f-aad6edb0b109" variableName="name" />
				<choice doc:name="method?" doc:id="cd323e81-1695-4fb5-bdfb-60c3e9f36564">
					<when expression="#[attributes.method == 'PUT']">
						<http:request method="PUT" doc:name="PUT" doc:id="7d6a7330-e3a9-433e-b168-5fcb00932ac2" config-ref="HTTP_Request_configuration" url='#["http://localhost:8081/dog/" ++ vars.name as String]'>
					<http:headers><![CDATA[#[output application/java
---
{
	"Content-Type" : "application/json"
}]]]></http:headers>
				</http:request>
						<file:write doc:name="Write" doc:id="5089514c-0043-4d93-9dfb-b7de19253c5c" config-ref="File_Config" path="C:\Users\Mario\AnypointStudio\studio-workspace\dogs_api\output.txt" mode="APPEND">
							<file:content ><![CDATA[#[PUT: payload]]]></file:content>
						</file:write>
					</when>
				<when expression="#[attributes.method == 'DELETE']">
						<http:request method="DELETE" doc:name="DELETE" config-ref="HTTP_Request_configuration" url='#["http://localhost:8081/dog/" ++ vars.name as String]'/>
						<file:write doc:name="Write" doc:id="5e9c68bf-2373-47f6-be5c-5cbd5ee6a60c" config-ref="File_Config" path="C:\Users\Mario\AnypointStudio\studio-workspace\dogs_api\output.txt" mode="APPEND">
							<file:content ><![CDATA[#[DELETE: payload]]]></file:content>
						</file:write>				
				
</when>
				</choice>
			</when>
			<otherwise >
				<choice doc:name="method?" doc:id="d29fa9ad-cba1-436d-889f-44e8bc47217d" >
					<when expression="#[attributes.method == 'POST']">
						<http:request method="POST" doc:name="POST" doc:id="c0c2e663-005a-4cab-9fd6-b3b3170bce20" config-ref="HTTP_Request_configuration" url='#["http://localhost:8081/dog/"]'>
			<http:headers><![CDATA[#[output application/java
---
{
	"Content-Type" : "application/json"
}]]]></http:headers>
		</http:request>
						<file:write doc:name="Write" doc:id="548c5fea-8fb4-43be-8b32-8152e6c32ca9" config-ref="File_Config" path="C:\Users\Mario\AnypointStudio\studio-workspace\dogs_api\output.txt" mode="APPEND">
							<file:content ><![CDATA[#[POST: payload]]]></file:content>
						</file:write>
					</when>
					<otherwise >
						<http:request method="GET" doc:name="GET all" doc:id="255e0639-b9d1-4662-8606-a702f1066a7a" config-ref="HTTP_Request_configuration" url='#["http://localhost:8081/dog/"]' />
						<file:write doc:name="Write" doc:id="12bba8a9-f824-458a-a09b-184fc6a4ab4e" config-ref="File_Config" path="C:\Users\Mario\AnypointStudio\studio-workspace\dogs_api\output.txt">
			<file:content><![CDATA[#[GET: payload]]]></file:content>
		</file:write>
					</otherwise>
				</choice>
			</otherwise>
		</choice>
    
</flow>

</mule>